<div class="jumbotron">
    <h1 class="display-4">Node Chat App with typescript</h1>
    <p class="lead">This App is an example of a CRUD App using Typescript, mongoose, mongodb, handlebars and node
    </p>
    <p>to create a todo, simply click on the create link and enjoy</p>
</div>